<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b043e5de-ee13-45fa-a9b5-4189adde5618" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b043e5de-ee13-45fa-a9b5-4189adde5618fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
